language: node_js
node_js:
  - "4"
notifications:  
  email: false
branches:
  only:
    - master
before_script:
  - npm install -g bower
  - npm install -g gulp-cli
  - npm install
  - bower install 
  
after_script:
  - gulp build
