/* Thanks for Ul Styling
  http://css.maxdesign.com.au/listutorial/horizontal_master.htm
  https://css-tricks.com/snippets/css/glowing-blue-input-highlights/
  */

.tag-container .error {
    color: red;
}
.tag-container ul
{
    margin: 0;
    list-style-type: none;
    border: 1px solid #DDDDDD;
    padding: 3px 0px 3px 3px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    /*text-align: center;*/
    display:block;

}

.tag-container .tag.default.focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

/*Material Design Input*/
.tag-container ul.material {
    padding: 3px 0px 3px 3px;
    border: none;
    border-bottom: solid 1px #969696;
    transition: border 0.3s ease-out;
}

.tag-container ul.tag.material.focus {
    box-shadow: none;
    padding: 3px 0px 3px 3px;
    border-bottom: solid 2px #0dc977;
    /*border: 1px solid rgba(81, 203, 238, 1);

    background-image: -webkit-gradient(linear, left top, left bottom, from(#0dc977), to(#0dc977)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#0dc977, #0dc977), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#0dc977, #0dc977), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#0dc977, #0dc977), linear-gradient(#D2D2D2, #D2D2D2);*/
    background-size: 100% 2px,100% 1px;
}
/*End Material Design input*/




.tag-container ul li { display: inline-block; }

.tag-container ul li input, .tag-container ul li input:focus, .tag-container ul li input:active{
    border:none;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
    background: transparent;
    margin-left:3px;
    width: 300px ;
}

.tag-container ul li:not(:last-child)
{
    margin-left:3px;
    text-decoration: none;
    padding: .2em .6em;
    color: #fff;
    background-color: #036;
    cursor: hand;
    cursor: pointer;
    font-size: 89%;
    padding-right: 0.625em;
    vertical-align: baseline;
    border-radius: .25em;
    line-height: 1;
    display: inline-block;
}

.tag-container ul li:not(:last-child):hover,.tag-container ul li:not(:last-child).active
{
    color: #fff;
    background-color: #369;
    font-size:85%;
    font-weight: 700;
}

.tag-container ul li a
{
    text-decoration: none;
    color: #fff;
    margin-right: -7px;
    padding-right: 3px;
    text-align: center;
    padding-left: 3px;
}
.tag-container ul li a:hover
{
    color:rgba(0,0,0,4.1);
}

.tag-typehead {
    background:white;
    border:1px solid #cccccc;
    border-top:none;
    list-style:none;
    margin:0px;
    padding:0px;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.animate-repeat {
    line-height:30px;
    list-style:none;
    box-sizing:border-box;
    cursor: hand;
    cursor: pointer;
}
.animate-repeat:hover {

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}

.tag-typehead li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.tag-typehead li>a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

#main-tag {
    /* width: 33.33%;
     float: left;*/
    position: relative; /* <-- added declaration */
}

#main-tag ul.tag-typehead {
    position: absolute;  /* <-- added declarations */
    left: 0; top: 100%;  /*     here               */
    width: 100%;         /*     and here...        */
    z-index: 999;
}

