<div id="main-tag">
<div class="tag-container">
 <ul ng-class="['tag',{focus:isFocus},theme ]" ng-click="isFocus=true" ng-keydown="direction_keys($event)">
    <li ng-repeat="select in selected" ng-click="(moveToTag($event,$index)) "  data-drop="true" data-drag="true" ng-model="selected" jqyoui-droppable="{index: {{$index}}}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}" data-jqyoui-options="{revert: 'invalid'}" data-direction="{{item.jqyouiDirection}}">
      {{select[displayField]}}  <a href="javascript:void(0)" ng-click="remove(select)">&times;</a>
    </li>
<li>
    <input name="{{name}}" ng-class="{error:hasError}" ng-model="input" ng-keyup="on_input_keyup($event)" ng-keydown="on_input_keydown($event)" ng-focus="isFocus=true" ng-blur="onblur();" focus-me="isFocus"
         type="input" placeholder="{{placeholder}}" ng-required="required && (!selected.length || selected.length==0)" >
</li>
 </ul>
</div>

<ul class="tag-typehead" ng-show="(isFocus && input.length && typehead && results.length) || (typehead && typeheadOpened) " >
    <li class="animate-repeat" ng-repeat="item in data | filter:input as results">
       <a href="javascript:void(0)" ng-click="processor(item[displayField])">{{item[displayField]}}</a>
    </li>
    <!--<li class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
    </li>-->
</ul>
</div>